{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "max-len": ["error", 120]
  }
}
