body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #edf7f5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background-color: #204e5f;
  margin: 0;
  padding: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

header div,
header span,
header label {
  color: white;
}

header h1 {
  color: white;
  margin-left: 16px;
  font-size: 22px;
}

header label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  width: 190px;
}

header label span {
  margin: 0 8px;
  text-align: right;
  width: 100%;
}

header > .right-toggle-box {
  display: flex;
}

.root > label > input {
  margin: 8px;
  height: 24px;
  width: 24px;
}

.root > label {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.scroll-box {
  margin: 16px;
  margin-top: 68px;
  padding: 8px;
  color: #666;
}

.scroll-box > div {
  margin-bottom: 500px;
}

.scroll-box > div:last-of-type {
  margin-bottom: 0;
}

.inner-scroll-example {
  padding: 8px;
  position: absolute;
  right: 42px;
  top: 84px;
  height: 240px;
  width: 220px;
  border-radius: 3px;
  background-color: #b7d7d8;
  overflow: auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.inner-scroll-example > div {
  margin-bottom: 150px;
}

.inner-scroll-example > div:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 16px;
  }

  header label {
    display: none;
  }

  .inner-scroll-example {
    top: 200px;
    left: 0;
    width: 80%;
    transform: translate(10%, 0);
  }
}
